html, body {
	margin: 0 auto;
	padding: 0;
}

div {
    border: solid 1px black;
}

#first {
    width: 100%;
    text-align: center;
}
.conteiner-one {
    display: flex;
    width: 100%;
    border: none;
    justify-content: center;
    gap: 10px 20px;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}
.item {
    width: 300px;
    height: 300px;
    
}
#second {
    background-color: #7b2b41;
    
}
#third {
    background-color: #afafd2;
    border-style: dashed;
}
#fourth {
    background-color: #80bc6c;
}

#fifth {
    text-align: center;
    width: 300px;
    height: 300px;
    position: relative;
}
#sixth {
    text-align: center;
    width: 600px;
    height: 300px;
    position: relative;
    
}
.container-two {
    display: flex;
    width: 100%;
    border: none;
    gap: 20px;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-flow: row nowrap;

   
}
.btn-cont {
    width: 100%;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

/* модальное окно */
.mod {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.358);
  }
  .mod-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .result {
    color:#337339;
  }

  @media all and (max-width: 990px){
    .container-two {
        flex-wrap: wrap;
    }
    .item {
        width: 100%;
    }
    #fifth {
        width: 100%;
    }
    #sixth {
        width: 100%;
    }
}
@media all and (min-width: 3000px){
    .container-two {
        flex-wrap: wrap;
    }
    .item {
        width: 100%;
    }
    #fifth {
        width: 100%;
    }
    
}